footer
  background-color: #303030
  +flexColumnAlignCenter
  color: #fff
  padding: 2rem 1rem

  p
    text-align: center
    color: #fff
    padding: 1rem 0
    font-size: 14px

.footer
  &__credits
    max-width: 700px
  
  &__container

    display: flex
    flex-direction: column
    justify-content: space-evenly

  
    

    li
      list-style-type: none
      margin: 0 1rem
      span
        text-transform: uppercase
        font-weight: 700
        color: #fff
        font-size: 16px
        line-height: 1.5
        

      
      a
        color: #fff
        text-decoration: none
        font-size: 12px
      
        &.center
          display: flex
          flex-direction: column
          justify-content: center
          height: 25px

  // &__left
  //   li
  //     padding-bottom: 40px
    

  &__ul
    &.flex
      display: flex

.footer__svg
  width: 20px
  
  path
    fill: #fff

@media screen and (min-width: 768px)
  .footer
    &__container
      flex-direction: row