footer
  +flexColumnAlignCenter
  color: #fff
  padding: 2rem 0

 

.footer
  &__container
    display: flex
    justify-content: space-evenly

  

    // ul

    li
      list-style-type: none
      margin: 0 1rem
      // font-weight: 700
      h5
        font-weight: 700
        color: #fff
        line-height: 1.5

      
      a
        color: #fff
        text-decoration: none
        font-size: 12px
      
        &.center
          display: flex
          flex-direction: column
          justify-content: center
          height: 25px

  &__left
    li
      // background-color: green
      padding-bottom: 40px
      
      // line-height: 1

  &__ul
    &.flex
      display: flex

.footer__svg
  width: 20px
  
  path
    fill: #fff