// .spacer
//   width: 100%
//   background-color: green
//   height: 50vh

// .gallery
//   display: flex

// .left
//   width: 50%
//   background-color: red


// .right
//   width: 50%
//   background-color: blue
//   height: 100vh
//   display: flex
//   flex-direction: column
//   justify-content: center

.module.graphic-design
  padding: 2rem 0
  ul
    li
      list-style-type: none

.skills-header
  margin-top: 2rem