

@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;600;700&family=Montserrat:wght@400;600;700;900&display=swap')

$font-mont: 'Montserrat', sans-serif
$font-hind: 'Hind', sans-serif

*
  padding: 0
  margin: 0
  box-sizing: border-box
  font-family: $font-mont

  
nav
  background-color: #303030
  
  ul
    display: flex
    padding: .75rem 1.25rem
  li
    color: #fff
    list-style-type: none
  li + li
    margin-left: 1rem
  a
    color: #fff
    text-decoration: none
    font-size: 14px
    // text-transform: uppercase
    // border-bottom: 2px solid #fff

footer
  background-color: #303030
  p
    text-align: center
    color: #fff
    padding: 1rem 0
    font-size: 14px



@import 'nav'
@import 'mixins'
@import 'about'
@import 'current'
@import 'typography'
@import 'footer'

img
  width: 100%
  
.main-site
  // background-color: #007FFF


.module
  max-width: 700px
  margin-inline: auto
  background-color: white
  // height: 100vh

.module + .module
  padding-top: 2rem




.intro
  +flexColumnAlignCenter
  justify-content: center
  height: 100vh

  &__container
    +flexColumnAlignCenter

  &__image
    border-radius: 50%
    width: 200px
    height: 200px
    margin-bottom: 1rem

  &__overline, &__desc
    font-weight: 700

  &__overline
    

  &__desc
    font-style: italic
    margin-bottom: 1rem

  &__button
    +reset
    width: 40px
    height: 40px

    svg

      #down-circle1
        transition: all 0.3s ease-in-out
        fill: white

      #down-circle2
        transition: all 0.3s ease-in-out
        stroke: black

      #down-polyline
        transition: all 0.3s ease-in-out
        stroke: black

      &:hover
        #down-circle1
          fill: black

        #down-polyline
          stroke: white

    

      

      // &:hover
      //   circle
      //     fill: $color-primary

      //   polyline
      //     stroke: $color-primary



.blog-wrapper, .graphic-design
  min-height: 150vh

