<!DOCTYPE html>
<html lang="en">
<head>
  {{ partial "head.html" . }}
 
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PEK9JRFZMX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-PEK9JRFZMX');
</script>

<body>
  {{ partial "nav.html" }}
  <main>
    {{ block "main" . }}
    {{ end }}
  </main>
  
  {{ partial "footer.html" . }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/ScrollToPlugin.min.js" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/ScrollTrigger.min.js" defer></script>
  <script type="module" src="/js/app.js" defer></script>
</body>
</html>