<!DOCTYPE html>
<html lang="en">
<head>
  {{ partial "head.html" . }}
 
</head>
<body>
  {{ partial "nav.html" }}
  <main>
    {{ block "main" . }}
    {{ end }}
  </main>
  
  {{ partial "footer.html" . }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/ScrollToPlugin.min.js" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/ScrollTrigger.min.js" defer></script>
  <script type="module" src="/js/app.js" defer></script>
</body>
</html>