{{ $data := .Site.Data.mydata }}
{{ range $data }}
  <div class="card">
    {{ with .image }}
      <img class="card__image" src="{{ . }}" alt="">
    {{ end }}
    <div class="card__container">
      {{ with .title }}
        <h4 class="card__title">{{ . }}</h4>
      {{ end }}
      {{ with .subtitle }}
        <h5 class="card__subtitle">{{ . }}</h5>
      {{ end }}
      {{ with .text }}
        <p class="card__text">{{ . }}</p>
      {{ end }}
      {{ with .link }}
        <a class="card__link" href="{{ . }}" target="_blank">Link</a>
      {{ end }}
    </div>
  </div>
{{ end }}

